body { font: normal 16px/1 Helvetica, Arial, sans-serif; -webkit-text-size-adjust: 100%; }
body, .footer_container { background-color: #1e4451;  }
.more_readable_container { color: #333; letter-spacing: 0.01em; line-height: 1.9; }
b, .bold { font-weight: bold; }
ul.ul_styled {
	list-style: disc outside none;
	margin: 15px 0;
	padding-left: 15px;
}

ul.ul_styled li {
	margin: 7px 0px;
}

.display_none { display: none; }
.width_auto { width: auto!important; }
.vertical_align_middle { vertical-align: bottom!important; }

/* header style {{{ */
.header {
	position: relative;
	z-index: 2;
}
.logo_section .logo_container a { color: transparent; }
.navigation_section { background-color: #83c61a; }
.navigation_list li a { color: #FBFBFB; font-weight: bold; text-decoration: none; }

.navigation_list li a:hover,
.navigation_list li.index_menu_item.index_menu_item_active a,
.navigation_list li.philosophy_menu_item.filosofia_menu_item_active a,
.navigation_list li.contacts_menu_item.contatti_menu_item_active a,
.navigation_list li.work_with_us_menu_item.lavora-con-noi_menu_item_active a { text-decoration: underline; }
/* header style }}} */

/* main content style {{{ */
.main_content_container article h1 { color: #78B071; }
.main_content_container article h2 { color: #079cc4; }
.main_content_container article h3 { color: #079cc4; }
.main_content_container article a, .image_conainer > .image_single_block a *, .text1 { color: #079cc4; }
.main_content_container article a:hover, .image_conainer > .image_single_block a:hover * { color: #1E4451; text-decoration: underline; }
.main_content_section { background-color: #079cc4; }
.main_content_container { background-color: #efefef; }
.no_padding_bottom { padding-bottom: 0!important; }
.no_padding_top { padding-top: 0!important; }
.email_container { font-weight: bold; }
.image_conainer > .image_single_block a, .image_conainer > .image_single_block a:hover { color: transparent;  }
/* main content style }}} */

/* competenze-tecniche.html page {{{ */
.skills_container .technical_competencies_list { display: inline-block; }
.skills_container .technical_competencies_list dt { border-bottom: 1px solid #83C61A; font-weight: bold; margin-bottom: 0.9625em; padding-bottom: 0.225em; }
.skills_container .technical_competencies_list dd { color: #333333; margin-bottom: 0.1875em; }
/* }}} */

/* footer style {{{ */
.footer_container { background-color: #1E4451; }
.footer_list > li > div { color: #079CC4; }
.footer_element_content a { color: #079CC4; text-decoration: none; }
.powered_by_container { color: #079CC4; }
/* footer style }}} */
