body { font: normal 100%/1 Helvetica, Arial, sans-serif; }
body, .footer_container { background-color: #1e4451;  }
.more_readable_container { letter-spacing: 0.01em; line-height: 1.6; }

/* header style */
.navigation_section { background-color: #83c61a; }
.navigation_list li a { color: #fff; }
.navigation_list li a:hover { color: #fff; font-weight: bold; }

/* main content style */
.main_content_container article h1 { color: #78B071; }
.main_content_container article h2 { color: #079cc4; }
.main_content_section { background-color: #079cc4; }
.main_content_container { background-color: #fff; }
.image_single_block figure figcaption { color: #079cc4; }
.description_container > span { color: #333; }
.no_padding_bottom { padding-bottom: 0!important; }

/* footer style */
.footer_list span { color: #0e82a2; }
.footer_list .email_list_element a { color: #0e82a2; }
.footer_list .list_element_label { font-weight: bold; }
.footer_list .list_element_top { display: none; }
