{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Competenze tecniche | Filosofia | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Il nostro concetto d'informatica: apertura mentale e scambio di opinioni. Se utilizzato bene e in maniera opportuna, l’informatica è lo strumento che permette di eliminare qualunque tipo di barriera">
{% endblock %}
{% block content %}
	<h1>Competenze</h1>
	<div class="main_content">
		<h2>Queste sono le nostre competenze tecniche</h2>
		<div class="skills_container">
			<div class="left">
				<div class="image_single_block image_single_block_centered">
					<figure>
						<img class="skills_image" width="300" height="320" src="{% static "img/icons/brain_skills.png" %}" alt="Competenze tecniche">
					</figure>
				</div>
			</div>
			<div class="right description_container">
				<dl class="technical_competencies_list">
					<dt>Programmazione web</dt>
						<dd>HTML4, HTML5</dd>
						<dd>CSS2, CSS3</dd>
						<dd>JavaScript</dd>
					<dt class="margin_top_40">Programmazione alto livello</dt>
						<dd>Python</dd>
						<dd>PHP</dd>
						<dd>Java</dd>
						<dd>Objective-C</dd>
						<dd>C#</dd>
						<dd>C++</dd>
						<dd>Perl</dd>
					<dt class="margin_top_40">Programmazione basso livello</dt>
						<dd>Assembly (AT&amp;T syntax)</dd>
					<dt class="margin_top_40">Competenze sistemistiche</dt>
						<dd>Windows</dd>
						<dd>Unix</dd>
						<dd>Bash scripting</dd>
				</dl>
			</div>
		</div>
	</div>
{% endblock %}
