{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>La nostra visione dell'informatica | Filosofia | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Il nostro concetto d'informatica: apertura mentale e scambio di opinioni. Se utilizzato bene e in maniera opportuna, l’informatica è lo strumento che permette di eliminare qualunque tipo di barriera">
{% endblock %}
{% block content %}
	<h1>Filosofia</h1>
	<div class="main_content">
		<h2>Entpy è la nostra visione dell'informatica</h2>
		<div class="description_container2 margin_top_40">
			<div>
				<dl class="technical_competencies_list">
					<dt>Programmazione web</dt>
					<dd>HTML5</dd>
					<dd>CSS3</dd>
					<dd>JavaScript</dd>
					<dt class="margin_top_40">Programmazione web</dt>
					<dd>HTML5</dd>
					<dd>CSS3</dd>
					<dd>JavaScript</dd>
					<dt class="margin_top_40">Programmazione web</dt>
					<dd>HTML5</dd>
					<dd>CSS3</dd>
					<dd>JavaScript</dd>
				</dl>				
			</div>
		</div>
		<div class="image_conainer left_image_container">
			<div class="image_single_block image_single_block_centered">
				<figure>
					<img width="200" height="310" src="{% static "img/icons/icon_filosofia.png" %}" alt="Filosofia">
				</figure>
			</div>
		</div>
	</div>
{% endblock %}
