{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Contattaci per ricevere informazioni | Contatti | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Contattaci telefonicamente o via email per ricevere informazioni, prenderemo in esame la tua richiesta e risponderemo nel più breve tempo possibile">
{% endblock %}
{% block content %}
	<h1>Contatti</h1>
	<div class="main_content">
		<div class="description_container description_container_top no_padding_bottom">
			<span itemprop="description" class="more_readable_container">
				Se desideri informazioni, prenderemo in esame la tua richiesta e risponderemo nel più breve tempo possibile.
			</span>
		</div>
		<div class="data_external_container">
			<div class="data_image_container">
				<img width="90" height="70" src="{% static "img/icons/icon_contatti.png" %}" alt="Contattaci">
			</div>
			<div class="data_info_container">
				<div class="data_info_list_container data_info_list_conatiner_first">
					<span class="data_info_label bold">
						Email:
					</span>
					<span itemprop="email" class="data_info_method email_container">
						<!-- antispam email -->
						<script type="text/javascript">
							//<![CDATA[
							<!--
							var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
							"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
							" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!88{)rt{y+xx=l;=+;" +
							"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
							"\"(9),2\\\"\\\\04\\\\06\\\\01\\\\\\\\06\\\\05\\\\02\\\\\\\\31\\\\04\\\\00\\" +
							"\\\\\\7X02\\\\\\\\13\\\\0[\\\\WZ35\\\\0K\\\\DAKACmDM6@02\\\\\\\\05\\\\0z\\\\"+
							"MIOB01\\\\0A\\\\kqu={xv}[vH7w.d}zf.-cWgg|nidmqng27\\\\0]\\\\35\\\\07\\\\01\\"+
							"\\\\\\\\\\t4\\\\03\\\\\\\\21\\\\07\\\\03\\\\\\\\25\\\\04\\\\03\\\\\\\\N&06\\"+
							"\\02\\\\02\\\\\\\\25\\\\05\\\\00\\\\\\\\14\\\\00\\\\03\\\\\\\\37\\\\0T\\\\0" +
							"7\\\\06\\\\00\\\\\\\\13\\\\0I\\\\37\\\\05\\\\02\\\\\\\\20\\\\0r\\\\\\\\\\\\" +
							"07\\\\0!\\\\17\\\\09\\\\404f5.61v;16\\\\0m\\\\)( 8%fb~26\\\\0R\\\\]V]BG@00\\"+
							"\\0X\\\\MDQKOA\\\\z(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.i" +
							"ntr=So+7;12%=;y++)y29i<f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i," +
							"r va){,y(x fontincfu)\\\"\")"                                                ;
							while(x=eval(x));
							//-->
							//]]>
						</script>
					</span>
				</div>
				<div class="data_info_list_container data_info_list_conatiner_first">
					<span class="data_info_label bold">
						Telefono:
					</span>
					<span class="data_info_method email_container">
						<a itemprop="telephone" class="display_none display_only_smartphone" href="tel:+393495598035" title="Recapito telefonico">+39 3495598035</a>
						<span itemprop="telephone" class="display_none display_only_pc text1">+39 3495598035</span>
					</span>
				</div>
				<div class="data_info_list_container">
					<span class="data_info_label bold">
						Social:
					</span>
					<span class="data_info_method contact_us_method">
						<a href="https://twitter.com/Entpy" target="_blank" title="Ricevi aggiornamenti in tempo reale con Twitter">Twitter</a>
					</span>
					<span>|</span>
					<span class="data_info_method contact_us_method">
						<a href="https://github.com/entpy" target="_blank" title="Vieni a vedere il codice dei nostri progetti OpenSource su GitHub">GitHub</a>
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
