{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Soluzioni informatiche | Chi siamo | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Entpy è una software house specializzata nello sviluppo di applicazioni Android, applicazioni iOS e piattaforme web, mostrando particolare cura nel responsive design">
{% endblock %}
{% block content %}
	<h1>FAQ</h1>
	<div class="main_content">
		<h2>Le domande più frequenti</h2>
		<div class="description_container">
			<!-- frequently question single block -->
			<div class="block1">
				<div class="right">
					<h3>
						<span>
							<img class="width_auto vertical_align_middle" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span>
							Lorem ipsum dolore sit amet.
						</span>
					</h3>
					<p itemprop="description" class="more_readable_container">
						Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
					</p>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1">
				<div class="right">
					<h3>
						<span>
							<img class="width_auto vertical_align_middle" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span>
							Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet.
						</span>
					</h3>
					<p itemprop="description" class="more_readable_container">
						Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
					</p>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1">
				<div class="right">
					<h3>
						<span>
							<img class="width_auto vertical_align_middle" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span>
							Lorem ipsum dolore sit amet.
						</span>
					</h3>
					<p itemprop="description" class="more_readable_container">
						Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
					</p>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1">
				<div class="right">
					<h3>
						<span>
							<img class="width_auto vertical_align_middle" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span>
							Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet.
						</span>
					</h3>
					<p itemprop="description" class="more_readable_container">
						Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
