{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>FAQ | Chi siamo | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="FAQ: qui troverai le risposte alle domande più comuni su Entpy e sulla creazione di siti web.">
{% endblock %}
{% block content %}
	<h1>FAQ</h1>
	<div class="main_content">
		<h2>Le domande più frequenti sulla crezione di siti web</h2>
		<div class="description_container">
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Da dove iniziare per creare un sito web?
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Prima di procedere nella realizzazione di un sito web, è importante soffermarsi sui seguenti punti:
						<ul class="ul_styled">
							<li>
								<span><b>Perchè avere un sito?</b></span>
							</li>
							<li>
								<span><b>A chi è rivolto?</b></span>
							</li>
							<li>
								<span><b>Quali sono le aspettative?</b></span>
							</li>
						</ul>
						Le risposte stabiliscono determinate linee guida, sopra le quali la <b>software house</b> si muoverà.
						Queste sono le basi per creare siti siti web funzionanti, con alti tassi di conversione.
						Per esempio un sito utilizzato come biglietto da visita, avrà obiettivi <b>differenti</b> rispetto a un sito di e-commerce.
					</div>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Perchè fare un sito ad-hoc quando esistono svariate piattaforme che ne permettono la creazione?
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Sul web, esistono una miriade di piattaforme che permettono la creazione di siti a prezzi modici, anche in questo caso, ci sono pro e contro. Probabilmente l'unico vantaggio degno di nota è il prezzo. Esiguo.<br />
						D'altra parte, possiamo dire che 100 euro mal investiti sono 100 euro <b>sprecati</b>.<br />
						I <b>vantaggi</b> di possedere un sito ad-hoc rispetto ad uno preconfezionato sono <b>molteplici</b>. Creare un sito ad-hoc, vuol dire <b>progettare attorno</b> alle esigenze del cliente, avendo l'accortezza di studiare ogni situazione a 360 gradi. Inoltre, un sito tarato sulle proprie necessità, punta alla ricerca di <b>soluzioni</b> volte al raggiungimento di determinati <b>obiettivi</b>, per esempio un'attività commerciale avrà più interesse nell'<b>acquisire</b> nuovi clienti rispetto ad un ente che necessita di un luogo dove <b>pubblicizzare</b> i propri eventi.
					</div>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Vorrei avere un sito ma non so da dove partire.
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Non è un problema, ci siamo noi per questo! In linea di massima si procede a <b>step</b>, noi iniziamo con l'identificazione delle vostre esigenze secondo i problemi proposti e, stilato un documento che incontra la vostra richiesta con la nostra soluzione, si arriva ad avere uno schema identificativo della struttura del progetto.
						Per informazioni e domande in merito, scrivete a 
						<script type="text/javascript">
							//<![CDATA[
							<!--
							var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
							"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
							" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!88{)rt{y+xx=l;=+;" +
							"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
							"\"(9),2\\\"\\\\04\\\\06\\\\01\\\\\\\\06\\\\05\\\\02\\\\\\\\31\\\\04\\\\00\\" +
							"\\\\\\7X02\\\\\\\\13\\\\0[\\\\WZ35\\\\0K\\\\DAKACmDM6@02\\\\\\\\05\\\\0z\\\\"+
							"MIOB01\\\\0A\\\\kqu={xv}[vH7w.d}zf.-cWgg|nidmqng27\\\\0]\\\\35\\\\07\\\\01\\"+
							"\\\\\\\\\\t4\\\\03\\\\\\\\21\\\\07\\\\03\\\\\\\\25\\\\04\\\\03\\\\\\\\N&06\\"+
							"\\02\\\\02\\\\\\\\25\\\\05\\\\00\\\\\\\\14\\\\00\\\\03\\\\\\\\37\\\\0T\\\\0" +
							"7\\\\06\\\\00\\\\\\\\13\\\\0I\\\\37\\\\05\\\\02\\\\\\\\20\\\\0r\\\\\\\\\\\\" +
							"07\\\\0!\\\\17\\\\09\\\\404f5.61v;16\\\\0m\\\\)( 8%fb~26\\\\0R\\\\]V]BG@00\\"+
							"\\0X\\\\MDQKOA\\\\z(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.i" +
							"ntr=So+7;12%=;y++)y29i<f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i," +
							"r va){,y(x fontincfu)\\\"\")"                                                ;
							while(x=eval(x));
							//-->
							//]]>
						</script>
						, saremo lieti di togliere ogni dubbio.
					</div>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Quanto costa fare un sito?
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Non esiste una risposta a priori, anche se girando per il web è possibile farsi un'idea, tutto dipende dalle <b>funzionalità</b> che si vogliono implementare, se serve o no interazione con l'utente o, più in generale, dalla sua <b>complessità</b>.<br />
						Molto importante è la suddivisione tra sito statico e sito dinamico, dove nell'ultimo caso, occorrono dati persistenti in database.
						Siamo sempre disponibili per un <b>preventivo</b> gratuito.
					</div>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Quanto costa fare un preventivo?
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Nulla. I preventivi sono sempre <b>gratuiti</b>.
					</div>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Abbiamo già un sito, ma non ha visite, cosa dobbiamo fare?
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Spesso ci si trova nella situazione di possedere un sito che rimane abbandonato, <b>senza visite</b>.<br />
						Niente paura, anche in questo caso abbiamo la soluzione. In primo luogo identifichiamo le <b>parti</b> deboli che necessitano di più <b>attenzione</b>. Se ancora il margine di miglioramento risultasse irrisorio, ci impegneremo nel trovare una soluzione più <b>adatta</b> e funzionale rispetto all'<b>attuale</b>.
					</div>
				</div>
			</div>
			<!-- frequently question single block -->
			<div class="block1 faq_block">
				<div class="right">
					<h3>
						<span class="left">
							<img class="width_auto" src="{% static "img/icons/lampadina.png" %}" alt="Domanda">
						</span>
						<span class="right">
							Che tipo di assistenza fornite pre e post progetto?
						</span>
					</h3>
					<div itemprop="description" class="more_readable_container">
						Offriamo il massimo impegno per rendere il vostro sito funzionante. Seguiamo rigorosamente gli standard per creare prodotti <b>qualità</b>.
						In questo modo gettiamo le fondamenta per creare prodotti eccelsi anche per i motori di ricerca, <b>Google</b> è il più famoso.<br />
						Utilizziamo particolari tecniche, denominate <b>SEO</b> (Search Engine Optimization), utili a migliorare il posizionamento del sito nei risultati della ricerca, più tecnicamente chiamato <b>SERP</b>(Search Engine Results Page).<br />
						Questi sono solo alcuni degli accorgimenti che seguiamo per realizzare prodotti in linea con le vostre <b>aspettative</b>.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
