{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>La nostra visione dell'informatica | Filosofia | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Il nostro concetto d'informatica: apertura mentale, scambio di opinioni. Se utilizzato bene e in maniera opportuna, l’informatica è lo strumento che permette di eliminare qualunque tipo di barriera">
{% endblock %}
{% block content %}
	<h1>Filosofia</h1>
	<div class="main_content">
		<h2>Entpy è la nostra visione dell'informatica</h2>
		<div class="image_conainer right_image_container">
			<div class="image_single_block image_single_block_centered">
				<figure>
					<img width="200" height="310" src="{% static "img/icons/icon_filosofia.png" %}" alt="Filosofia">
				</figure>
			</div>
		</div>
		<div class="description_container margin_top_40">
			<span itemprop="description" class="more_readable_container">
				Cosa significa <b>informatica</b>?<br />
				Per noi informatica significa apertura mentale, classe nella risoluzione di problemi e scambio di opinioni.<br />
				Se utilizzata bene e in maniera opportuna, l’informatica è lo strumento che permette di eliminare qualunque tipo di barriera. <b>Entpy</b> è nata per sopperire allo sfruttamento di quest’arte. Sosteniamo l’open source e siamo cultori del software libero. Se le tue idee si ritrovano nel manifesto, vai nella sezione "<a href="/lavora-con-noi/" title="Sei interessato a lavorare con noi?">Lavora con noi</a>". 
			</span>
		</div>
	</div>
{% endblock %}
