{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Software House | Chi siamo | Entpy</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Entpy è una software house di Torino. Il nostro obiettivo è quello di fornire soluzioni semplici a problemi complessi.">
{% endblock %}
{% block content %}
	<h1>Chi siamo</h1>
	<div class="main_content">
		<h2>Software Deployment Solutions</h2>
		<div class="image_conainer">
			<div class="image_single_block">
				<a href="/modello#sicurezza" title="Progettiamo applicativi e servizi sicuri">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_security.png" %}" alt="Sicurezza">
						<figcaption>Sicurezza</figcaption>
					</figure>
				</a>
			</div>
			<div class="image_single_block">
				<a href="/modello#pianificazione" title="Progettiamo passo a passo con il cliente">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_planning.png" %}" alt="Pianificazione">
						<figcaption>Pianificazione</figcaption>
					</figure>
				</a>
			</div>
			<div class="image_single_block">
				<a href="/modello#accessibilita" title="Progettiamo interfacce di facile utilizzo">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_accessibility.png" %}" alt="Accessibilità">
						<figcaption>Accessibilità</figcaption>
					</figure>
				</a>
			</div>
			<div class="image_single_block">
				<a href="/modello#portabilita" title="Progettiamo su più dispositivi diversi">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_portability.png" %}" alt="Portabilità">
						<figcaption>Portabilità</figcaption>
					</figure>
				</a>
			</div>
		</div>
		<div class="description_container">
			<div class="more_readable_container">
				Entpy è una <b>software house</b> di Torino. Il nostro obiettivo è quello di fornire soluzioni semplici a problemi complessi. Il nostro modello di sviluppo si snoda tra <a href="/modello" title="Il nostro modello di sviluppo">quattro punti</a>. Curiamo tutti i particolari nel dettaglio: ci proponiamo di svolgere un progetto attraverso opportune fasi. A seguito dell'analisi funzionale, redatta sulle basi delle informazioni acquisite dal cliente, avviamo una fase di progettazione che terminerà nella realizzazione vera e propria.<br />
				Sviluppiamo progetti quali:<br />
				<ul class="ul_styled">
					<li>
						<span>
							<b>siti web</b>, nonché presentazioni, e-commerce, curando anche la parte mobile
						</span>
					</li>
					<li>
						<span>
							<b>applicazioni Android</b>
						</span>
					</li>
					<li>
						<span>
							<b>applicazioni iOS</b>
						</span>
					</li>
				</ul>
				Entpy è costantemente aggiornata sulle nuove tecnologie, adattandosi in maniera efficiente ad ogni tipo di ambito.
			</div>
		</div>
	</div>
{% endblock %}
