{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Soluzioni informatiche | Chi siamo | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Entpy è una software house specializzata nello sviluppo di applicazioni Android, applicazioni iOS, piattaforme web e progetti informatici, mostrando particolare cura nel responsive design">
{% endblock %}
{% block content %}
	<h1>Chi siamo</h1>
	<div class="main_content">
		<h2>Entpy software house: sviluppo di software e progetti informatici</h2>
		<div class="image_conainer">
			<div class="image_single_block">
				<a href="/modello#sicurezza" title="Progettiamo applicativi e servizi sicuri">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_security.png" %}" alt="Sicurezza">
						<figcaption>Sicurezza</figcaption>
					</figure>
				</a>
			</div>
			<div class="image_single_block">
				<a href="/modello#pianificazione" title="Progettiamo passo a passo con il cliente">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_planning.png" %}" alt="Pianificazione">
						<figcaption>Pianificazione</figcaption>
					</figure>
				</a>
			</div>
			<div class="image_single_block">
				<a href="/modello#accessibilita" title="Progettiamo interfacce di facile utilizzo">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_accessibility.png" %}" alt="Accessibilità">
						<figcaption>Accessibilità</figcaption>
					</figure>
				</a>
			</div>
			<div class="image_single_block">
				<a href="/modello#portabilita" title="Progettiamo su più dispositivi diversi">
					<figure>
						<img width="160" height="110" src="{% static "img/icons/icon_portability.png" %}" alt="Portabilità">
						<figcaption>Portabilità</figcaption>
					</figure>
				</a>
			</div>
		</div>
		<div class="description_container">
			<div itemprop="description" class="more_readable_container">
				Entpy è una <b>software house</b> di Torino specializzata nel ramo dell'IT. L'obiettivo primario è la creazione di software utile a diminuire la complessità delle operazioni quotidiane. Curiamo tutti i particolari nel dettaglio: ci proponiamo di svolgere un progetto mediante opportune fasi. A seguito dell'analisi funzionale, redatta sulle basi delle informazioni acquisite dal cliente, avviamo una fase di progettazione che terminerà nella realizzazione vera e propria.<br />
				Parte del nostro lavoro è la guida attraverso tutte queste fasi, per poter plasmare la soluzione ottimale di cui si ha realmente bisogno.<br />
				<b>Sviluppiamo</b> progetti quali:
				<ul class="ul_styled">
					<li>
						<span>
							<b>siti web</b>, nonché presentazioni, e-commerce e piattaforme SaaS
						</span>
					</li>
					<li>
						<span>
							<b>applicazioni Android</b>
						</span>
					</li>
					<li>
						<span>
							<b>applicazioni iOS</b>
						</span>
					</li>
				</ul>
				Il nostro modello di sviluppo si snoda tra <a href="/modello" title="Modello di sviluppo">quattro punti</a>. Entpy è costantemente aggiornata sulle nuove tecnologie, le nostre competenze in ambito mobile ci permettono di avere particolare cura nel <b>responsive design</b>, creando interfacce grafiche che fondono <b>semplicità</b> di utilizzo in un <b>design moderno</b>.
			</div>
		</div>
	</div>
{% endblock %}
