{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Entra a far parte del nostro team | Lavora con noi | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Desideri entrare a far parte di Entpy? Attualmente stiamo cercando nuove figure professionali da inserire nel nostro team">
{% endblock %}
{% block content %}
	<h1>Lavora con noi</h1>
	<div class="main_content">
		<div class="description_container description_container_top no_padding_bottom">
			<span itemprop="description" class="more_readable_container">
				Sei interessato a lavorare con noi?<br />Attualmente stiamo cercando nuove figure professionali da inserire nel nostro team.<br/>Se condividi anche tu la nostra <a href="/filosofia/" title="Il nostro concetto d'informatica">filosofia</a>, mandaci il tuo curriculum via Email.
			</span>
		</div>
		<div class="data_external_container">
			<div class="data_image_container">
				<img width="90" height="70" src="{% static "img/icons/icon_mail.png" %}" alt="Lavora con noi">
			</div>
			<div class="data_info_container">
				<div class="data_info_list_container">
					<span class="data_info_label bold">
						Email:
					</span>
					<span class="data_info_method email_container">
						<!-- antispam email -->
						<script type="text/javascript">
							//<![CDATA[
							<!--
							var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
							"=92){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
							".substr(0,ol);}f(\")79,\\\"XRZI}`<sg76;y/% =7120\\\\?) $ri620\\\\$=+3&-104#" +
							"730\\\\QHH330\\\\VP030\\\\^UTP]S|220\\\\s320\\\\H@_C]010\\\\500\\\\zHQOWBIm" +
							"lh_&nz}}t`g,771\\\\~s!w}xeoIgahl>lvmi730\\\\020\\\\^'G730\\\\530\\\\500\\\\" +
							"630\\\\U520\\\\OPY630\\\\300\\\\310\\\\130\\\\500\\\\130\\\\530\\\\G430\\\\" +
							"t\\\\300\\\\010\\\\120\\\\000\\\\r\\\\500\\\\\\\"(f};o nruter};))++y(^)i(tA" +
							"edoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\" +
							"\"=o,i rav{)y,x(f noitcnuf\")"                                               ;
							while(x=eval(x));
							//-->
							//]]>
						</script>
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
