{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Entra a far parte del nostro team | Lavora con noi | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Desideri entrare a far parte di Entpy? Attualmente stiamo cercando nuove figure professionali da inserire nel nostro team">
{% endblock %}
{% block content %}
	<h1>Lavora con noi</h1>
	<div class="main_content">
		<div class="description_container description_container_top no_padding_bottom">
			<span itemprop="description" class="more_readable_container">
				Sei interessato a lavorare con noi?<br />Siamo sempre alla ricerca di nuovi collaboratori da inserire nel nostro team, questo ci aiuta a creare prodotti migliori e ampliare le nostre conoscenze.<br/>Se condividi anche tu la nostra <a href="/filosofia/" title="Il nostro concetto d'informatica">filosofia</a>, mandaci il tuo curriculum via Email.
			</span>
		</div>
		<div class="data_external_container">
			<div class="data_image_container">
				<img width="90" height="70" src="{% static "img/icons/icon_mail.png" %}" alt="Lavora con noi">
			</div>
			<div class="data_info_container">
				<div class="data_info_list_container">
					<span class="data_info_label bold">
						Email:
					</span>
					<span class="data_info_method email_container">
						<!-- antispam email -->
						<script type="text/javascript">
							{# http://hivelogic.com/enkoder/index.php #}
							//<![CDATA[
							<!--
							var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==58)y+=" +
							"i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"\\\\N" +
							"R^JV//b%l=o<>(8k%a!rrs~<8h.y4<4<(5r3]\\016\\016X\\023\\r\\017\\013\\rA\\022" +
							"E\\017\\005\\017\\0353\\036\\026\\026nD\\031^\\034\\005\\006\\037\\026\\005" +
							"\\000\\010\\022GILF;9i~<~*lu%q6/,:,8y7z/(+17+r2a1sn[\\010\\\\^T^\\017JE@\\0" +
							"21\\004GP\\026A\\023\\031\\023\\0015\\001^\\036QB\\007\\t\\031\\t\\013ro\\\""+
							"l*vse{}x#<!ac9*ou<7?\\\"+5F9DODV]A\\036PC\\022\\020\\034Q\\006\\017\\013\\0" +
							"21\\032\\037\\035\\000mn\\016\\016i\\024kd\\001\\025g\\036ab\\007{|f;#uuw\\" +
							"024\\025d|ax\\022\\023\\014\\r\\005\\034\\032\\033\\017fki\\006\\007\\013\\" +
							"037\\034jRQ>?<?TUX563?#$,=\\027BBD)*\\002MKJ' ?4QLU145Z[;9:WPqt}lcf`~~dgb\\" +
							"177y)l\\177deLI@MCLb\\034YNLCOX\\\\sls\\003\\001\\004ij\\003\\n\\tfg\\r\\01" +
							"6\\016c\\034\\026sst\\031\\032pxy\\026\\027~}~\\023\\014bac\\010\\tgeh\\005" +
							"\\006hknn\\003<URS89RTX56Y_]23\\002-.GDE*+NJJ' LM0]^475Z[fUV<;<RS;&<;5G\\\"" +
							"$(EFz--.C||}ht\\022\\024\\027tu}_pq\\030\\035\\000mn\\000\\007\\005jkdefgah" +
							"ex\\037\\032wst\\031\\032\\031\\017\\004\\000\\030\\n\\006\\t\\023ry4.o:v9*" +
							",.>. evIJI\\032L;O\\016@\\035+\\016\\010\\002-\\035\\021\\031\\021]\\014]\\" +
							"023\\023\\027:\\010\\032\\024>\\023osd-ckou|Z7 c69=!,7j/|+<a0/(! w7FHY\\n\\" +
							"017\\016O\\034D\\025C\\020\\034\\020G\\007B^T\\010\\\\AQY]U\\024C\\001Q\\02" +
							"2cb\\035`~+i/g:(<0e4b7x7r=;<\\\"46,<yu\",58)"                                ;
							while(x=eval(x));
							//-->
							//]]>
						</script>
					</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
