{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Software House | Modello di sviluppo | Entpy</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Il nostro modello di sviluppo si snoda tra quattro punti: Sicurezza, Pianificazione, Accessibilità, Portabilità.">
{% endblock %}
{% block content %}
	<h1>Modello di sviluppo</h1>
	<div class="main_content">
		<h2>Il nostro modello di sviluppo si snoda tra quattro punti</h2>
		<div class="description_container no_padding_top">
			<div class="block1">
				<div class="left display_none display_only_pc">
					<img src="{% static "img/icons/icon_security.png" %}" alt="Sicurezza">
				</div>
				<div class="right">
					<h3 id="sicurezza">
						<span>
							<img class="display_none display_only_smartphone" src="{% static "img/icons/icon_security.png" %}" alt="Sicurezza">
						</span>
						<span>
							Sicurezza
						</span>
					</h3>
					<p class="more_readable_container">
						Non a caso in prima posizione ricerchiamo la sicurezza, progettare e sviluppare applicativi e servizi "sicuri" implica una rigorosa conformità negli standard e un continuo aggiornamento sulla security.
					</p>
				</div>
			</div>
			<div class="block1">
				<div class="left display_none display_only_pc">
					<img src="{% static "img/icons/icon_planning.png" %}" alt="Pianificazione">
				</div>
				<div class="right">
					<h3 id="pianificazione">
						<span>
							<img class="display_none display_only_smartphone" src="{% static "img/icons/icon_planning.png" %}" alt="Sicurezza">
						</span>
						<span>
							Pianificazione
						</span>
					</h3>
					<p class="more_readable_container">
						Forniamo software puro, limitando al minimo la possibilità di errore, cerchiamo di immaginare i possibili scenari di utilizzo e problemi derivanti da essi, per questo l'attività di progettazione e realizzazione viene svolta passo a passo con il cliente.
					</p>
				</div>
			</div>
			<div class="block1">
				<div class="left display_none display_only_pc">
					<img src="{% static "img/icons/icon_accessibility.png" %}" alt="Accessibilità">
				</div>
				<div class="right">
					<h3 id="accessibilita">
						<span>
							<img class="display_none display_only_smartphone" src="{% static "img/icons/icon_accessibility.png" %}" alt="Accessibilità">
						</span>
						<span>
							Accessibilità
						</span>
					</h3>
					<p class="more_readable_container">
						Gli applicativi e servizi creati avranno un elevato impatto per quanto riguarda l'accessibilità, la user interface viene studiata a fondo, per poter plasmare la soluzione più adatta alle esigenze del cliente.
					</p>
				</div>
			</div>
			<div class="block1">
				<div class="left display_none display_only_pc">
					<img src="{% static "img/icons/icon_portability.png" %}" alt="Portabilità">
				</div>
				<div class="right">
					<h3 id="portabilita">
						<span>
							<img class="display_none display_only_smartphone" src="{% static "img/icons/icon_portability.png" %}" alt="Accessibilità">
						</span>
						<span>
							Portabilità
						</span>
					</h3>
					<p class="more_readable_container">
						Parte del nostro lavoro in ambito web, prevede l'ottimizzazione su più dispositivi differenti. Con opportuni accorgimenti, la user interface verrà visualizzata correttamente su PC, tablet e smartphone.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
