{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Soluzioni informatiche | Chi siamo | Entpy Software House Torino</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Entpy è una software house specializzata nello sviluppo di applicazioni Android, applicazioni iOS e piattaforme web, mostrando particolare cura nel responsive design">
{% endblock %}
{% block content %}
	<h1>Portfolio</h1>
	<div class="main_content">
		<h2>Portfolio</h2>
		<div class="description_container">
			<!-- portfolio single block -->
			<div class="block3_container margin_bottom_40">
				<div class="left">
					<div class="block2_container block2_container_align_middle">
						<div class="block2_header">
							<div class="block2_image">
								<img src="{% static "img/icons/progetto-creato.png" %}" alt="Domanda">
							</div>
							<div class="block2_title ">
								Lorem ipsum dolore sit amet.
							</div>
						</div>
						<div class="block2_content_container">
							<div itemprop="description" class="block2_content_container more_readable_container">
								Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<img src="" alt="Image">
				</div>
			</div>
			<!-- portfolio single block -->
			<div class="block3_container margin_bottom_40">
				<div class="left">
					<div class="block2_container block2_container_align_middle">
						<div class="block2_header">
							<div class="block2_image">
								<img src="{% static "img/icons/progetto-creato.png" %}" alt="Domanda">
							</div>
							<div class="block2_title">
								Lorem ipsum dolore sit amet.
							</div>
						</div>
						<div class="block2_content_container">
							<div itemprop="description" class="block2_content_container more_readable_container">
								Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<img src="" alt="Image">
				</div>
			</div>
			<!-- portfolio single block -->
			<div class="block3_container margin_bottom_40">
				<div class="left">
					<div class="block2_container block2_container_align_middle">
						<div class="block2_header">
							<div class="block2_image">
								<img src="{% static "img/icons/progetto-creato.png" %}" alt="Domanda">
							</div>
							<div class="block2_title">
								Lorem ipsum dolore sit amet.
							</div>
						</div>
						<div class="block2_content_container">
							<div itemprop="description" class="block2_content_container more_readable_container">
								Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. Lorem ipsum dolore sit amet. 
							</div>
						</div>
					</div>
				</div>
				<div class="right">
					<img src="" alt="Image">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
