# ignore all in the tree
*
!.gitignore
!.LICENSE
!.README.md
!website/
!website/project_static/
!website/project_static/**/*
!website/static_resources/
!website/static_resources/**/*
!website/media/
!website/**/*
*.swp
*.pyc
website/website/local_settings_example.py
