{% load staticfiles %}
<!DOCTYPE html>
	<!--[if IE 7 ]> <html class="no-js ie ie7 lte7 lte8 lte9" lang="en-US"> <![endif]-->
	<!--[if IE 8 ]> <html class="no-js ie ie8 lte8 lte9" lang="en-US"> <![endif]-->
	<!--[if IE 9 ]>	<html class="no-js ie ie9 lte9>" lang="en-US"> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		{% block head %}
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Entpy Software House</title>
		<meta name="description" content="Creiamo software">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="favicon.ico" />

		<!-- CSS common style loading -->
		<link rel="stylesheet" href="{% static "css/reset.css" %}">
		<link rel="stylesheet" href="{% static "css/main.css" %}">

		<!-- javascript loading -->
		<!--[if lt IE 9]>
			<script src="{% static "js/html5shiv.js" %}"></script>
		<![endif]-->
		<script src="{% static "js/modernizr.custom.19502.js" %}"></script>
		{% endblock head %}
	</head>
	<body>
		<header>
			<div class="header">
				{% block navigation %}
				<div class="logo_section page">
					<div class="logo_container">
						<img src="{% static "img/icons/logo.png" %}" alt="Image">
					</div>
					<div class="entropy_container">
						<img src="{% static "img/layout/layout_entropy.png" %}" alt="Image">
					</div>
				</div>
				<div class="navigation_section">
					<div class="page">
						<nav>
							<ul class="navigation_list">
								<li>
									<a href="/index/">Chi siamo</a>
								</li>
								<li>
									<a href="/philosophy/">Filosofia</a>
								</li>
								<li>
									<a href="/contacts/">Contatti</a>
								</li>
								<li>
									<a href="/work_with_us/">Lavora con noi</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				{% endblock navigation %}
			</div>
		</header>
		<section>
			<div class="main_content_section">
				<div class="main_content_container page">
					<article>
						 {% block content %}{% endblock content %}
					</article>
				</div>
			</div>
		</section>
		<footer>
			<div class="footer_container">
				<div class="footer page">
					{% block footer %}
					<ul class="footer_list">
						<!-- email info -->
						<li class="email_list_element">
							<span class="list_element_label">
								Email<span class="colon_container">:</span>
							</span>
							<span class="list_element_value list_element_email">
								<a href="mailto:info@entpy.com">info@entpy.com</a>
							</span>
							<span class="list_element_top">
								<a href="#">Torna su</a>
							</span>
						</li>
						<!-- powered by info -->
						<li class="copyright_list_element">
							<span class="list_element_label">
								Copyright<span class="colon_container">:</span>
							</span>
							<span class="list_element_value">
								2013 Entpy Software
							</span>
						</li>
						<!-- location info -->
						<li class="location_list_element">
							<span class="list_element_label">
								Location<span class="colon_container">:</span>
							</span>
							<span class="list_element_value">
								Turin, Italy
							</span>
						</li>
					</ul>
				</div>
				{% endblock footer %}
			</div>	
		</footer>
	</body>
</html>
