{% extends "inc/base.html" %}
{% load staticfiles %}
{% block title %}
	<title>Software House | Chi siamo | Entpy</title>
{% endblock %}
{% block description %}
	<meta name="description" content="Entpy è una software house di Torino. Il nostro obiettivo è quello di fornire soluzioni semplici a problemi complessi.">
{% endblock %}
{% block content %}
	<h1>Chi siamo</h1>
	<div class="main_content">
		<h2>Software Deployment Solutions</h2>
		<div class="image_conainer">
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_internet.png" %}" alt="Internet">
					<figcaption>Internet</figcaption>
				</figure>
			</div>
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_server.png" %}" alt="Server">
					<figcaption>Server</figcaption>
				</figure>
			</div>
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_security.png" %}" alt="Security">
					<figcaption>Security</figcaption>
				</figure>
			</div>
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_multiDevice.png" %}" alt="Multi device">
					<figcaption>Multi device</figcaption>
				</figure>
			</div>
		</div>
		<div class="description_container">
			<div class="more_readable_container">
				Entpy è una <b>software house</b> di Torino. Il nostro obiettivo è quello di fornire soluzioni semplici a problemi complessi.
				Curiamo tutti i particolari nel dettaglio: ci proponiamo di svolgere un progetto attraverso opportune fasi. A seguito dell'analisi funzionale, redatta sulle basi delle informazioni acquisite dal cliente, avviamo una fase di progettazione che terminerà con la realizzazione vera e propria.<br />
				Sviluppiamo progetti quali:<br />
				<ul class="ul_styled">
					<li>
						<span>
							<b>siti web</b>, nonché presentazioni, e-commerce, curando anche la parte mobile
						</span>
					</li>
					<li>
						<span>
							<b>applicazioni Android</b>
						</span>
					</li>
					<li>
						<span>
							<b>applicazioni iOS</b>
						</span>
					</li>
				</ul>
				Entpy è costantemente aggiornata sulle nuove tecnologie, adattandosi in maniera efficiente ad ogni tipo di ambito.
			</div>
		</div>
	</div>
{% endblock %}
