{% extends "inc/base.html" %}
{% load staticfiles %}
{% block content %}
	<h1>Chi siamo</h1>
	<div class="main_content">
		<h2>Sviluppo di software per web e mobile</h2>
		<div class="image_conainer">
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_internet.png" %}" alt="Image">
					<figcaption>Internet</figcaption>
				</figure>
			</div>
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_server.png" %}" alt="Image">
					<figcaption>Server</figcaption>
				</figure>
			</div>
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_security.png" %}" alt="Image">
					<figcaption>Security</figcaption>
				</figure>
			</div>
			<div class="image_single_block">
				<figure>
					<img src="{% static "img/icons/icon_multiDevice.png" %}" alt="Image">
					<figcaption>Multi device</figcaption>
				</figure>
			</div>
		</div>
		<div class="description_container">
			<span class="more_readable_container">
				<b>Entpy</b> è una <b>software house</b> di Torino con obiettivo di fornire soluzioni semplici a problemi complessi, curando in dettaglio tutti i particolari. Non ci occupiamo di svolgere un progetto in tempi fulminei, ma ci prefiggiamo di farlo nel migliore dei modi e con qualità. Con riferimento a questo, Entpy si adatta ad ogni tipo di ambito, rendendo possibile la comunicazione dai singoli privati fino alle grandi aziente.
			</span>
		</div>
	</div>
{% endblock %}
